<template>
  <q-page>
    <parallax-cmp />
    <h2>About us</h2>
    <text-cmp />
    <separator />
    <splitter-cmp />
    <separator />
    <timeline-cmp />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import TextCmp from "../components/Text.vue";
import TimelineCmp from "../components/Timeline.vue";
import SplitterCmp from "../components/Splitter.vue";
import ParallaxCmp from "../components/Parallax.vue";
import Separator from "../components/Separator.vue";

export default defineComponent({
  name: "AboutUs",
  components: {
    TextCmp,
    TimelineCmp,
    SplitterCmp,
    ParallaxCmp,
    Separator,
  },
});
</script>

<style scoped lang="sass">
h2
  color: #1e3932
  text-align: center
</style>