<template>
  <q-page>
    <h2>Blogs</h2>
    <text-cmp />
    <separator />
    <intersection
      text="Blog"
      image="https://www.shutterstock.com/image-photo/bloggingblog-concepts-ideas-white-worktable-260nw-1029506242.jpg"
    />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import TextCmp from "../components/Text.vue";
import Separator from "../components/Separator.vue";
import Intersection from "../components/Intersection.vue";

export default defineComponent({
  name: "BlogPage",
  components: {
    TextCmp,
    Separator,
    Intersection,
  },
});
</script>

<style scoped lang="sass">
h2
  color: #1e3932
  text-align: center
</style>