<template>
  <q-page>
    <form-cmp />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import FormCmp from "../components/Form.vue";

export default defineComponent({
  name: "ContactUs",
  components: {
    FormCmp,
  },
});
</script>
<style lang="sass" scoped>
.q-page
  background: #dff9ba
  display: flex
  justify-content: center
  align-items: center
</style>
