<template>
  <q-page>
    <h2>Frequently Asked Questions (FAQs)</h2>
    <text-cmp />
    <separator />
    <accordion-cmp />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import TextCmp from "../components/Text.vue";
import Separator from "../components/Separator.vue";
import AccordionCmp from "../components/Accordion.vue";

export default defineComponent({
  name: "FAQs",
  components: {
    TextCmp,
    Separator,
    AccordionCmp,
  },
});
</script>

<style scoped lang="sass">
h2
  color: #1e3932
  text-align: center
</style>
