<template>
  <q-page>
    <carousel-cmp />
    <text-button-section-cmp />
    <separator-cmp />
    <card-cmp />
    <separator-cmp />
    <image-cmp />
    <separator-cmp />
    <tab-panels-cmp />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import CarouselCmp from "../components/Carousel.vue";
import TextButtonSectionCmp from "../components/TextButtonSection.vue";
import CardCmp from "../components/Card.vue";
import ImageCmp from "../components/Image.vue";
import TabPanelsCmp from "../components/TabPanels.vue";
import SeparatorCmp from "../components/Separator.vue";

export default defineComponent({
  name: "IndexPage",
  components: {
    CarouselCmp,
    TextButtonSectionCmp,
    CardCmp,
    ImageCmp,
    TabPanelsCmp,
    SeparatorCmp,
  },
});
</script>
