<template>
  <q-page>
    <h2>Projects</h2>
    <text-cmp />
    <separator />
    <intersection
      text="Project"
      image="https://thumbs.dreamstime.com/b/projects-concept-black-chalkboard-d-rendering-handwritten-top-view-office-desk-lot-business-office-supplies-79906734.jpg"
    />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import TextCmp from "../components/Text.vue";
import Separator from "../components/Separator.vue";
import Intersection from "../components/Intersection.vue";

export default defineComponent({
  name: "ProjectsPage",
  components: {
    TextCmp,
    Separator,
    Intersection,
  },
});
</script>

<style scoped lang="sass">
h2
  color: #1e3932
  text-align: center
</style>