<template>
  <q-page>
    <h2>Our Services</h2>
    <text-cmp />
    <separator />
    <tree-cmp />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import TextCmp from "../components/Text.vue";
import Separator from "../components/Separator.vue";
import TreeCmp from "../components/Tree.vue";

export default defineComponent({
  name: "ServicesPage",
  components: {
    TextCmp,
    Separator,
    TreeCmp,
  },
});
</script>
<style scoped lang="sass">
h2
  color: #1e3932
  text-align: center
</style>