<template>
  <div class="q-pa-md form-section">
    <h2>Contact us</h2>
    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <q-input
        filled
        v-model="name"
        label="Your name *"
        hint="Name and surname"
        lazy-rules
        :rules="[
          (val) =>
            (val && val.length > 0) || 'Please type your name and surname',
        ]"
      />

      <q-input
        filled
        type="number"
        v-model="age"
        label="Your age *"
        hint="Age"
        lazy-rules
        :rules="[
          (val) => (val !== null && val !== '') || 'Please type your age',
          (val) => (val > 0 && val < 100) || 'Please type a real age',
        ]"
      />
      <q-input
        v-model="email"
        filled
        type="email"
        hint="Email"
        label="Your email *"
        :rules="[(val) => (val && val.length > 0) || 'Please type your e-mail']"
      />

      <q-input
        v-model="text"
        filled
        type="textarea"
        label="Your message *"
        hint="Message"
        :rules="[
          (val) => (val && val.length > 0) || 'Please type your message',
        ]"
      />
      <q-toggle
        v-model="accept"
        label="I accept the license and terms"
        color="teal-9"
      />

      <div>
        <q-btn label="Submit" type="submit" color="teal-9" />
        <q-btn label="Reset" type="reset" color="teal-9" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>

<script>
import { useQuasar } from "quasar";
import { ref } from "vue";

export default {
  name: "FormCmp",
  setup() {
    const $q = useQuasar();

    const name = ref(null);
    const age = ref(null);
    const accept = ref(false);
    const email = ref(null);
    const text = ref(null);

    return {
      name,
      age,
      accept,
      email,
      text,

      onSubmit() {
        if (accept.value !== true) {
          $q.notify({
            color: "red-5",
            textColor: "white",
            icon: "warning",
            message: "You need to accept the license and terms first",
          });
        } else {
          $q.notify({
            color: "green-4",
            textColor: "white",
            icon: "cloud_done",
            message: "Submitted",
          });
        }
      },

      onReset() {
        name.value = null;
        age.value = null;
        accept.value = false;
        email.value = null;
        text.value = null;
      },
    };
  },
};
</script>
<style scoped lang='sass'>
h2
  color: #1e3932
.form-section
  width: 500px
  background: #ffffff
</style>