<template>
  <div class="q-pa-md q-gutter-sm image-section">
    <q-btn push color="teal-9" label="Change image" @click="refresh" />

    <q-img :src="url" spinner-color="white" style="max-width: 500px" />
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  name: "ImageCmp",
  setup() {
    const url = ref("https://placeimg.com/500/300/nature");

    return {
      url,
      refresh() {
        url.value = "https://placeimg.com/500/300/nature?t=" + Math.random();
      },
    };
  },
};
</script>
<style scoped lang='sass'>
.image-section
  display: flex
  justify-content: center
  align-items: center
</style>