<template>
  <div class="q-pa-md">
    <div class="row justify-center q-gutter-sm">
      <q-intersection
        v-for="index in 30"
        :key="index"
        transition="scale"
        class="example-item"
      >
        <q-card class="q-ma-sm card">
          <img :src="`${image}`" />

          <q-card-section>
            <div class="text-h6">{{ text }} #{{ index }}</div>
            <div class="text-subtitle2">by John Doe</div>
          </q-card-section>
        </q-card>
      </q-intersection>
    </div>
  </div>
</template>

<script>
export default {
  name: "IntersectionCmp",
  props: {
    text: String,
    image: String,
  },
};
</script>

<style lang="sass" scoped>
.example-item
  height: 290px
  width: 290px
.card
  &:hover
    border: 1px solid green
    transform: scale(1.05)
</style>