<template>
  <q-separator color="green" inset class="separator" />
</template>

<script>
export default {
  name: "SeparatorCmp",
};
</script>

<style lang="sass" scoped>
.separator
  margin: 70px 0
</style>