<template>
  <div class="q-pa-md">
    <div class="q-gutter-y-md">
      <q-card>
        <q-tabs
          v-model="tab"
          class="text-white"
          style="background: #1e3932"
          align="justify"
          narrow-indicator
        >
          <q-tab name="mails" label="Mails" />
          <q-tab name="alarms" label="Alarms" />
          <q-tab name="movies" label="Movies" />
        </q-tabs>

        <q-separator />

        <q-tab-panels
          v-model="tab"
          animated
          class="text-center"
          style="background: #d4e9e2"
        >
          <q-tab-panel name="mails">
            <div class="text-h6">Mails</div>
            {{ lorem }}
          </q-tab-panel>

          <q-tab-panel name="alarms">
            <div class="text-h6">Alarms</div>
            {{ lorem }}
          </q-tab-panel>

          <q-tab-panel name="movies">
            <div class="text-h6">Movies</div>
            {{ lorem }}
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  name: "TabPanelsCmp",
  setup() {
    return {
      tab: ref("mails"),
      lorem: "Lorem ipsum dolor sit amet consectetur adipisicing elit",
    };
  },
};
</script>

<style>
</style>