<template>
  <p>{{ lorem }}</p>
</template>

<script>
export default {
  name: "TextCmp",
  setup() {
    return {
      lorem:
        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, eaque amet eligendi asperiores dolorem molestias ipsa quam nemo ducimus quibusdam eum placeat accusamus repellendus, laboriosam repellat nulla, dicta non neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, eaque amet eligendi asperiores dolorem molestias ipsa quam nemo ducimus quibusdam eum placeat accusamus repellendus, laboriosam repellat nulla, dicta non neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, eaque amet eligendi asperiores dolorem molestias ipsa quam nemo ducimus quibusdam eum placeat accusamus repellendus, laboriosam repellat nulla, dicta non neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, eaque amet eligendi asperiores dolorem molestias ipsa quam nemo ducimus quibusdam eum placeat accusamus repellendus, laboriosam repellat nulla, dicta non neque.",
    };
  },
};
</script>

<style  scoped lang="sass">
p
  text-align: center
  padding: 0 20px
  @media (min-width: 1440px)
    padding: 0 200px
</style>