<template>
  <div class="q-pa-md flex">
    <div class="section_1">
      <h2>What is Quasar?</h2>
      <p>
        {{ lorem }}
      </p>
      <q-btn label="View More" @click="alertFn" />
    </div>
    <div class="section_2">
      <h2>Why do we use it?</h2>
      <p>
        {{ lorem }}
      </p>
      <q-btn label="View More" @click="alertFn" />
    </div>
  </div>
</template>

<script>
export default {
  name: "TextButtonSectionCmp",
  setup() {
    return {
      alertFn() {
        alert("Clicked! :)");
      },
      lorem:
        "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fivecenturies, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum",
    };
  },
};
</script>

<style scoped lang='sass'>
.section_1,
.section_2
  width: 50%

.section_1 button,
.section_2 button
  background: #1e3932
  color: white
</style>